// Grid settings
// -------------------------

@main-sm-columns:       @grid-columns;
@sidebar-sm-columns:    4;


// Brand colors
// -------------------------

@brand-success:	 		#19AE64;




// Glyphicons path
// -------------------------

@icon-font-path:        "../vendor/bootstrap/fonts/";

@font-family-sans-serif: 	"Roboto Slab";
@font-family-serif: 		"Oswald";